.history-field {
  display: flex;
  box-shadow: 0px 3px 3px rgb(225, 223, 223);
  padding: 5px;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  align-items: flex-start;
  margin-top: 10px;
  border-radius: 1px;
}
.history-field:hover {
  box-shadow: 0px 3px 4px rgb(204, 204, 204);
  transition-duration: 0.4s;
}
.left-section {
  width: 5%;
}
.right-section {
  height: 50px;
  display: flex;
  align-items: center;
}
.delete-icon:hover {
  scale: 1.1;
  transition-duration: 0.5s;
}

.middle-section {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.des {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 5px;
  margin-bottom: 2px;
  padding-right: 40px;
}
.algorithm p {
  font-size: 15px;
}
.time p {
  opacity: 0.5;
  font-size: 14px;
}
.number {
  overflow: hidden;
}
.history-gif {
  aspect-ratio: 1.43;
  object-fit: contain;
  object-position: center;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}
.start-visualization-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.start-visualization {
  border: 0.5px;
  border-radius: 2px;
  color: white;
  background-color: #7b2bf4;
  padding: 10px 13px;
}
.start-visualization:hover {
  background-color: #6a17e6;
  transition-duration: 0.5s;
}
@media only screen and (max-width: 768px) {
  .offcanvas {
    height: 80% !important;
    margin: 70px 0px !important;
  }
}
