.sub-header {
  display: flex;
  box-shadow: 0 1px 2px 1px rgba(61, 61, 61, 0.1);
  color: #212121;
  justify-content: flex-start;
  padding: 10px;
  background-color: #ffffff;
  height: 80px;
  align-items: center;
  margin: 10px;
  position: sticky;
  top: 60px;
  z-index: 10;
  /* height: calc(100vh - 340px); */
}
.sub-header p {
  font-size: 25px;
  font-weight: 600;
  margin: auto 0px;
}
.container1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-container,
.right-container {
  box-shadow: 0 1px 2px 1px rgba(61, 61, 61, 0.1);
  margin: 5px;
  /* min-height: 75vh; */
}
.left-container {
  width: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: none;

  position: sticky;
  top: 150px; /* Adjust based on your layout */
}
.right-container {
  width: 69%;
  margin-left: 10px;
  box-shadow: 0;
}
.input-container,
.controls-container {
  box-shadow: 0 1px 2px 1px rgba(61, 61, 61, 0.1);
  width: 100%;
  /* height: 70%; */
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 20px 50px;
}
.controls-container {
  padding: 20px 50px;
}
.input-container {
  height: 40%;
}
.inputs {
  margin-top: 10px;
  width: 100%;
  height: 38px;
  padding-left: 5px;
}
.btns {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}
.mbtn {
  width: 100px;
  height: 40px;
  border: 0.5px;
  border-radius: 2px;
  color: white;
}
.start {
  background-color: #7b2bf4;
}
.start:hover{
  background-color: #6f10fe;
  transition-duration: 0.5s;
}
.reset {
  background-color: #0a991a;
}
.reset:hover {
  background-color: #068515;
  transition-duration: 0.5s;

}
.pause {
  background-color: #ff295e;
}
.pause:hover {
  background-color: #fa114b;
  transition-duration: 0.5s;

}
.generate {
  margin: 10px 0px;
}
.range {
  margin-top: 0px;
  accent-color: #7b2bf4;
  cursor: pointer;
}
.inp-group {
  margin-bottom: 5px;
}
.group {
  display: flex;
}
.group .inputs {
  margin-right: 5px;
}
.graph-container {
  /* background-color: red; */
}
.label {
  font-weight: 500;
}
.icon {
  width: 35px;
  height: 35px;
  margin: 5px;
  border-radius: 50%;
  box-shadow: 0 1px 2px 1px rgba(61, 61, 61, 0.1);
  padding: 2px;
  cursor: pointer;
}
.icon:hover {
  scale: 1.1;
  transition-duration: 0.5s;
  box-shadow: 0 1px 3px 1px rgba(128, 29, 214, 0.1);
}
#clear-page {
  float: left;
}
.right-container-header {
  /* box-shadow: 0 1px 2px 1px rgba(61, 61, 61, 0.1); */
  /* background-color: #FF295E; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.code-container {
  box-shadow: 0 1px 2px 1px rgba(61, 61, 61, 0.1);
  margin-top: 5px;
  height: auto;
}
.language-section {
  box-shadow: 0 1px 2px 1px rgba(61, 61, 61, 0.1);
  padding: 10px;
  display: flex;
  align-items: center;
}
.language-icon {
  height: 30px;
  width: 30px;
  cursor: pointer;
  padding-bottom: 5px;
}

.code-section {
  /* height: 200px; */
  /* margin-left: 15px; */
}
.active-icon {
  border-bottom: 2px solid #7b2bf4;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: rgb(255, 255, 255);
  margin: 0px;
  border-left: 2px solid #d8d8f4;
  padding: 0px;
  padding-left: 10px;
  margin-left: 5px;
  margin-top: 5px;
}
.copy-btn {
  cursor: pointer;
  background-image: url("../asets/copy.png");
  height: 20px;
  width: 20px;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  margin-left: auto;
}

.language-icon:hover {
  scale: 1.1;
  transition-duration: 0.5s;
}
.copy-btn:hover {
  scale: 1.1;
  transition-duration: 0.5s;
}
.active-copy-icon {
  background-image: url("../asets/copied.png");
}
.deactivate-icon {
  opacity: 0.5;
  pointer-events: none;
}
.deactivate-icon:hover {
  scale: 1;
}
.deactivate-btn {
  cursor: not-allowed;
}
.filters {
  display: grid;
  grid-template-columns: auto auto;
  margin: 10px 0px;
}
.filters input {
  width: 15px;
  height: 15px;
  margin-right: 3px;
  cursor: pointer;
  border-radius: 2px solid #7b2bf4;
}
.filters-choice {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 5px;
}
.btns-section{
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


@media only screen and (max-width: 768px) {
  .container1 {
    flex-wrap: wrap;
    /* background-color: red; */
  }
  .left-container,
  .sub-header {
    position: relative;
    top: 0px;
  }
  .right-container {
    box-shadow: 0 1px 2px 1px rgba(61, 61, 61, 0.1);
  }
  .left-container,
  .right-container {
    margin: 5px;
    height: auto;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }
  .mbtn {
    margin-right: 5px;
  }
  .inputs {
    margin: 5px 0px;
  }
  .input-container,
  .controls-container {
    margin-left: 0px;
    padding: 25px 15px;
  }
  .sub-header {
    margin: 0px;
    position: sticky;
    top: 65px;
    height: 55px;
  }
  .sub-header p {
    font-size: 20px;
  }
  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    margin-left: 0px;
  }
}
